.control-panel {
  bottom: 40px;
  flex-direction: column;
  height: 320px;
  position: fixed;
  right: 40px;
  width: 80px;
  z-index: 6;
}

.btn {
  color: var(--color-white);
  height: 30px;
  margin-top: 9px;
  width: 30px;
}

/* media */
@media screen and (max-width: 1005px) {
  .control-panel {
    bottom: 30px;
    height: 320px;
    right: 10px;
    width: 80px;
  }
}