.button-round {
  background-color: var(--main-color);
  border: none;
  border-radius: 50%;
  box-shadow: 0 3px 4px var(--color-dark);
  color: var(--color-white);
  cursor: pointer;
  font-size: 31px;
  height: 60px;
  padding: 5px;
  margin: 10px;
  transition: all 0.2s ease;
  width: 60px;
}

.button-round:hover {
  opacity: .8;
}

.button-round:active {
  box-shadow: 0 0 2px var(--color-dark);
  transform: translateY(3px);
}
