.draggable {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .26);
  padding: 15px 0 10px 15px;
  position: relative;
  z-index: 5;
}

.draggable:hover {
  cursor: move;
}

p {
  font-size: 13px;
}