.bm-burger-button {
  height: 30px;
  left: 36px;
  position: fixed;
  top: 36px;
  width: 36px;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-burger-bars-hover {
  background: #48abe0;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #48abe0;
}

.bm-menu-wrap {
  height: 100%;
  position: fixed;
}

.bm-menu {
  background: #373a47;
  font-size: 1.15em;
  padding: 2em 1em 0;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.select {
  width: 100%;
}

.drop-container {
  align-items: center;
  border: 2px dashed #555;
  border-radius: 10px;
  color: #444;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 200px;
  justify-content: center;
  padding: 20px;
  position: relative;
  transition: background .2s ease-in-out, border .2s ease-in-out;
}

.drop-container:hover {
  background: #eee;
  border-color: #111;
}

.drop-container:hover .drop-title {
  color: #222;
}

.drop-title {
  color: #444;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition: color .2s ease-in-out;
}

.sidebar {
  position: relative;
}

.sidebar-version-app {
  bottom: 15px;
  position: absolute;
  right: 25px;
}

/* media */
@media screen and (max-width: 650px) {
  .bm-burger-button {
    height: 24px;
    left: 15px;
    position: fixed;
    top: 15px;
    width: 24px;
  }
}