.form-group{
  margin-bottom: 25px;
}

.input {
  border: none;
  border-radius: 4px;
  font-size: 18px;
  min-height: 38px;
  outline: none;
  padding: 2px 8px;
  width: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}